{% extends "upload_pic/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% if image_url %}
            <h1>Wynik!</h1>

            <h3>{{ effect_type }}</h3>

            <img src="{{ image_url }}">
            <form method="GET">
                <input type="submit" value="Wróć">
            </form>
        {% else %}
            <h1>Przetwórz swój obraz</h1>

            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Wybierz obraz do przekształcenia:</h4>
                {{ upload_image_form|crispy }}

                <h4>Dostępne modyfikacje:</h4>
                {% for radio in effects_radio_list %}
                    {{ radio|crispy }}
                {% endfor %}

                <h7>Wspierane formaty: </h7>
                {% for type in supported_types %}
                    {% if forloop.last %}
                        {{ type }}
                    {% else %}
                        {{ type }},
                    {% endif %}
                {% endfor %}
                <br>
                <input type="submit" value="Przetwórz obraz" name="submit">
            </form>
        {% endif %}
    </div>
{% endblock content %}
