{% extends "upload_pic/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Przetwórz swój obraz</h1>

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <h4>Wybierz obraz do przekształcenia:</h4>
            {{ upload_image_form|crispy }}

            <h4>Dostępne modyfikacje:</h4>
            {% for radio in effects_radio_list %}
                {{ radio|crispy }}
            {% endfor %}
            <input type="submit" value="Wyślij" name="submit">
        </form>
    </div>
{% endblock content %}
