{% extends "upload_pic/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% if image_url %}
            <article class="content-section">
                <div class="media-body">
                    <div class="result-title-section">
                        <h1 class="homepage-title bg-steel nav-link" align="center">Wynik!</h1>
                    </div>

                    <div class="form-section">
                        <h3>Wykonany efekt: {{ effect_type }}</h3>
                    </div>

                    <div class="form-section" align="center">
                        <img id="image" src="{{ image_url }}">
                    </div>

                    <form method="GET">
                        <button class="btn-link bg-steel nav-link" type="submit" name="submit" href="{% url 'upload_pic_homepage' %}">Wróć</button>
                    </form>
                </div>
            </article>
        {% else %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <article class="content-section">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="media-body">
                        <div class="homepage-title-section">
                            <h1 class="homepage-title bg-steel nav-link" align="center">Przetwórz swój obraz</h1>
                        </div>

                        <div class="form-section">
                            <h4>Wybierz obraz do przekształcenia:</h4>
                            <div class="btn-link bg-steel nav-item nav-link">{{ upload_image_form|crispy }}</div>
                        </div>

                        <div class="form-section">
                            <h4>Dostępne modyfikacje:</h4>
                                {% for radio in effects_radio_list %}
                                    {{ radio|crispy }}
                                {% endfor %}
                        </div>

                        <div class="supported-formats">
                            <small class="text-muted">
                                Wspierane formaty:
                                {% for type in supported_types %}
                                    {% if forloop.last %}
                                        {{ type }}
                                    {% else %}
                                        {{ type }},
                                    {% endif %}
                                {% endfor %}<br>
                                Maksymalny rozmiar pliku: {{ max_file_upload }}MB
                            </small>
                        </div>
                        <button class="btn-link bg-steel nav-link" type="submit" name="submit" href="{% url 'upload_pic_homepage' %}">Przetwórz obraz</button>
                    </div>
                </article>
            </form>
        {% endif %}
    </div>
{% endblock content %}
